    {% extends 'base.html' %}
    {% block title %} Sign in {% endblock %}
    {% block content %}
    {% load socialaccount %}
    {% providers_media_js %}

             <button>
                <a href="{% provider_login_url "google" method="oauth2" %}">Login with Google</a>
            </button>

            <hr>
            <button>
                <a href="{% provider_login_url "facebook" method="oauth2" %}">Login with Facebook
                </a>

            </button>
            <br>
             <hr>
            <button>
                <a href="{% provider_login_url 'github'%}">Login with Github</a>
            </button>
    {% endblock %}