body{
    text-align: center;
    background-color: #cbd7e2;
    background-image: url("../image/1.jpg");
    background-repeat: repeat-x;
    color: #fff;
}

.mail_temp{
    vertical-align: middle;
    width: 350px;
    height: 200px;
    background-color: #9ce2dc;
}
#center-aline{
    width: 350px;
    height: 200px;
    color: #5450de;
    background-color: #86d256;
}
