    {% extends 'base.html' %}
    {% block title %} Sign in {% endblock %}
    {% block content %}
    {% load socialaccount %}
    {% providers_media_js %}
<!--    <form action="http://127.0.0.1:8000/">-->
<!--        <div align="center">-->
<!--        Username <input type="text" placeholder="Enter your username"> <br><br>-->
<!--        Password <input type="password" placeholder="Enter password"><br><br>-->
<!--        <input type="submit" value="Login">-->
<!--        </div>-->
<!--    </form>-->
<!--    <br>-->
    <div style="width: 400px;height: 400px; background-color:#ccccff">
            <div style="width: 200px;height: 100px; ">
            <h3>I have an account</h3><a href={{link}}> Login</a>
            <br>
            </div>
            <hr>
            <h3>Login with social accounts</h3>
            <br>

             <button>
                <a href="{% provider_login_url "google" method="oauth2" %}">Login with Google</a>
            </button>

            <hr>
            <button>
                <a href="{% provider_login_url "facebook" method="oauth2" %}">Login with Facebook
                </a>

            </button>
            <br>
             <hr>
            <button>
                <a href="{% provider_login_url 'github'%}">Login with Github</a>
            </button>
    </div>
    {% endblock %}